# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code settings
.vscode/

# Environment files
.env
.venv/
venv/
ENV/

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Data and large files (optional)
data/*.npy
data/*.csv

# OS files
.DS_Store
Thumbs.db